
@font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}
    
@font-face {
    font-family: 'SF UI Display Thin';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Thin'), url('sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Bold';  
    font-style: normal; 
    font-weight: normal;
    src: local('SF UI Display Bold'), url('sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Black';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Black'), url('sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Regular'), url('SFUIText-Regular.woff') format('woff');
}
        
@font-face {
    font-family: 'SF UI Text Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Italic'), url('SFUIText-RegularItalic.woff') format('woff');
}
    
@font-face {
    font-family: 'SF UI Text Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Light'), url('SFUIText-Light.woff') format('woff');
}
    
@font-face {
    font-family: 'SF UI Text Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Light Italic'), url('SFUIText-LightItalic.woff') format('woff');
}
      
@font-face {
    font-family: 'SF UI Text Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Medium'), url('SFUIText-Medium.woff') format('woff');
}
    
@font-face {
    font-family: 'SF UI Text Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Medium Italic'), url('SFUIText-MediumItalic.woff') format('woff');
}
       
@font-face {
    font-family: 'SF UI Text Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Semibold'), url('SFUIText-Semibold.woff') format('woff');
}  
    
@font-face {
    font-family: 'SF UI Text Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Semibold Italic'), url('SFUIText-SemiboldItalic.woff') format('woff');
} 
    
@font-face {
    font-family: 'SF UI Text Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Bold'), url('SFUIText-Bold.woff') format('woff');
}
    
@font-face {
    font-family: 'SF UI Text Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Bold Italic'), url('SFUIText-BoldItalic.woff') format('woff');
}
    
@font-face {
    font-family: 'SF UI Text Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Heavy'), url('SFUIText-Heavy.woff') format('woff');
}   
    
@font-face {
    font-family: 'SF UI Text Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Heavy Italic'), url('SFUIText-HeavyItalic.woff') format('woff');
}


@media screen and (max-width: 768px) {
    #mainnav{
        font-family: 'SF UI Display Light';
        /*border-bottom: solid 0.052vw #8a8a8a;*/
        background-color: white;
        /*padding:0.78px;*/
        padding-left:6.51vw;
        padding-right:6.51vw;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    body{
        padding-top:120px;
    }
    #logos{
        margin-left:6.51vw;
        margin-right:6.51vw;
    }
    #content{
        margin-left:6.51vw;
        margin-right:6.51vw;
    }
    #ov{
        font-size: 22.5px;
    }
    #mainnav li{
        font-family: "SF UI Text Regular";
        font-size: 10px;
    }
    #intro{
        font-family: 'SF UI Text Italic';
        font-style: italic;
        font-weight: 500;
        font-size: 12.5px;
    }
    .hero-btn{
        font-size: 10px;
        line-height: 12px;
        padding-top:11.4px;
        padding-bottom:11.4px;
        padding-left:25px;
        padding-right:25px;
        margin-top: 20px;
    }
    .main-content #heading{
        font-family: 'SF UI Display Thin';
        font-style: normal;
        font-weight: 100;
        font-size: 33.3px;
        line-height: 40px;
    }
    .main-content #subhead{
        font-family: 'SF UI Display Medium';
        font-style: bold;
        font-weight: normal;
        font-size: 23.4375px;
        line-height: 28.125px;
        margin-top: 3.85vw;
    }
    .sbsinfo .focus{
        font-size: 18.75px;
        line-height: 150%;
        font-family: 'SF UI Display Light';
        color: #04E05E;
        padding-bottom: 2%;
    }
    .sbsinfo .notfocus{
        font-size: 15.625px;
        line-height: 150%;
        font-family: 'SF UI Display Light';
        color:#8A8A8A;
        
    }
    .main-content .content{
        font-family: 'SF UI Display Light';
        font-size: 15px;
        line-height: 150%;
        margin-top:5.41vw;
    }
    #support .content{
        font-family: 'SF UI Display Thin';
        font-size: 17.5px;
        line-height: 150%;
        margin-top:5.41%;
    }
    .line:after{   
        height: 33.85px;
    }
    .schedule #heading{
        font-family: 'SF UI Display Medium';
        font-style: normal;
        font-size: 33.3px;
        line-height: 40px;
        margin:0;
    }
    .schedule #subhead{
        font-family: 'SF UI Display Light';
        margin:0;
        font-size: 18px;
        line-height: 150%;
    }
    .contact-form .details{
        font-size: 18.75px;
        padding:90px;
    }
    .tel img{
        width:35px;
    }
    .addr{
        margin-bottom: 26px;
    }
    .contact-footer{
        font-family: 'SF UI Display Ultralight';
        font-size: 15px;
    }
    
    .contact-footer .tel img{
        width:30px;
    }
    .footer-nav .nav{
        font-size: 10px;
        font-family: 'SF UI Text Regular';
    }
    .footer-copyright{
        font-size: 12.5px;
        font-family: 'SF UI Display Light';
        color:#474747;
    }
    #other-subhead{
        font-family: 'SF UI Display Bold';
        font-size: 15px;
    }    
    .src{
        font-family:'SF UI Display Thin';
        font-size:10px;
        padding-bottom: 2vw;
    }
    .footer-links img{
        height: 35px;
    }
}
@media screen and (min-width: 769px) {
    #mainnav{
        font-family: 'SF UI Display Light';
        /*border-top:3.375vw solid white;*/
        /*border-bottom: solid 0.052vw #8a8a8a;*/
        background-color: white;
        padding-left:6.51vw;
        padding-right:6.51vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }
    body{
        margin-top:12vw;
        /*margin-left:6.51vw;
        margin-right:6.51vw;*/
    }
    #logos{
        margin-left:6.51vw;
        margin-right:6.51vw;
    }
    #content{
        margin-left:6.51vw;
        margin-right:6.51vw;
    }
    #ov{
        font-style: normal;
        font-weight: normal;
        font-size: 2.25vw;
        line-height: 150%;
        color: rgb(138, 138, 138);
        margin:0vw;
    }
    #mainnav li{
        padding-left:1vw;
        margin:0;
        font-family: 'SF UI Text Regular';
        font-size: 0.9vw;
        line-height: 150%;
        color: #8A8A8A;
    }
    #intro{
        font-family: 'SF UI Text Italic';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25vw;
        line-height: 1.56vw;
    }
    .hero-btn{
        font-size: 1vw;
        line-height: 1.2vw;
        padding-top:1.14vw;
        padding-bottom:1.14vw;
        padding-left:2.5vw;
        padding-right:2.5vw;
        margin-top: 2vw;
    }
    .main-content #heading{
        font-family: 'SF UI Display Thin';
        font-style: normal;
        font-size: 3.33vw;
        line-height: 4vw;
    }
    .main-content #subhead{
        font-family: 'SF UI Display Medium';
        font-style: bold;
        font-weight: normal;
        font-size: 2.34375vw;
        line-height: 2.8125vw;
        margin-top: 3.85vw;
    }
    .navborder{
        border-bottom: solid 0.052vw #8a8a8a;
        margin-top:7vw;
        margin-left:6.51vw;
        margin-right:6.51vw;
    }
    .sbsinfo .focus{
        font-size: 1.875vw;
        line-height: 150%;
        font-family: 'SF UI Display Light';
        color: #04E05E;
        padding-bottom: 2%;
    }
    .sbsinfo .notfocus{
        font-size: 1.5625vw;
        line-height: 150%;
        font-family: 'SF UI Display Light';
        color:#8A8A8A;
        
    }
    .main-content .content{
        font-family: 'SF UI Display Light';
        font-size: 1.5vw;
        line-height: 150%;
        margin-top:5.41%;
    }
    #support .content{
        font-family: 'SF UI Display Thin';
        font-size: 1.75vw;
        line-height: 150%;
        margin-top:5.41%;
    }
    .src{
        font-family:'SF UI Display Thin';
        font-size:1vw;
        padding-bottom: 2vw;
    }
    .line:after{   
        height: 3.3854vw;
    }
    .schedule #heading{
        font-family: 'SF UI Display Medium';
        font-style: normal;
        font-size: 3.33vw;
        line-height: 4vw;
        margin:0;
    }
    .schedule #subhead{
        font-family: 'SF UI Display Light';
        margin:0;
        font-size: 1.8vw;
        line-height: 150%;
    }
    .contact-form .details{
        font-size: 1.5vw;
    }
    .addr{
        margin-bottom: 2.6vw;
    }
    .tel img{
        width:60%;
    }
    .contact-footer{
        width:23vw;
        font-family: 'SF UI Display Ultralight';
        font-size: 1.25vw;
    }
    
    .contact-footer .tel img{
        width:60%;
    }
    .footer-nav .nav{
        font-size: 1vw;
        font-family: 'SF UI Text Regular';
    }
    .footer-copyright{
        font-size: 1.25vw;
        font-family: 'SF UI Display Light';
        color:#474747;
    }
    #other-subhead{
        font-family: 'SF UI Display Bold';
        font-size: 1.5vw;
    }    
    .footer-links img{
        height: 70%;
    }
}

.gradient{
    background: linear-gradient(90deg, #02D973 0%, #05E451 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ov span{
    font-weight: bold;
}
#main li .active{
    color: #02D973;
}

.logo1{
    width: 100%;
}
.logo2{
    width:100%;
}
.hero-btn{
    font-family: 'SF UI Text Regular';
    color:#FFFFFF;
    background-image: linear-gradient(90deg, #02D973 -0.32%, #05E451 100.32%);
    border-radius: 10000px;
}
.herobg{
    z-index: -1;
    position: relative;
    top:-5vw;
}
body{
    background-color:rgba(229, 229, 229,0.2);
}
.main-content{
    margin-left: 7vw;
    margin-right: 7vw;
}
#aboutigem #subhead{
    padding-bottom: 5.41vw;
}
.line:after{
    content: "";
    background-color: #05E354;
    position: absolute;
    width: 1px;
    left:100%;
    top:25%;
    display: block;
}
video{
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.carousel{
    width:65%;
    padding-top: 5vw;
}
section{
    padding-bottom: 20vw;
}
#hero #content a{
    color:white;
}

#team .content{
    margin:0;
    padding-top: 1.5vw;
    padding-bottom: 5vw;
}

#team #img{
    width:65%;
}

#mainnav .navbar-nav li.active > a {
	color: #02D973;
}

#contact{
    padding-top: 10vw;
    padding-bottom: 15vw;
}

.contact-form {
    background-color:  rgba(215, 234, 240, 0.34);
}

.contact-form .row{
    margin:0;
}

.contact-form .details{
    padding:7vw;
    font-family: 'SF UI Display Light';
    line-height: 150%;
    padding-bottom: auto;
}

.map{
    padding:0;
}

.msg{
    padding-top:4vw;
}

.footer{
    background-color: #000000;
    color:#FFFFFF;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 4.5vw;
    padding-bottom:6vw;    
}

.footer-upper{
    padding-bottom: 5vw;
}

.footer-links .col{
    padding:0;
}

#solution .content{
    padding-bottom: 5vw;
}

#support{
    padding-bottom: 10vw;
    border-bottom: 1px solid #8A8A8A;
}